body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }

  ul{
    list-style: none;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  